[Unit]
Description=PythonJudge Watchdog Service
After=network-online.target docker.service
Wants=network-online.target

[Service]
ExecStartPre=/bin/sh -c 'while ! /usr/bin/nc -z localhost 3306; do sleep 1; done'
Type=simple
WorkingDirectory=/home/seonghoon/2026-PythonJudgeSystem-ICP
ExecStart=/home/seonghoon/miniforge3/envs/PythonJudgeSystem/bin/python src/watchdog.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
